html {
  margin: 0 auto;
  background-color: white;
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#clue {
  font-family: "League-Gothic", Courier;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 10px 5px 0px 5px;
}

#notice_box {
  margin: 10px;
}

#puzzle_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start_button {
  width: 20px; 
  top: 94px; 
  left: 73px; 
  position: absolute;
}

#word_puzzle_input_container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

#puzzle_words {
  display: flex;
  flex-wrap: wrap;
}

.letter-element {
  text-align: center;
  margin: 20px;
  font-family: "League-Gothic", Courier;
  font-size: 200px;
  text-transform: uppercase;
  color: palevioletred;
  user-select: none;
  border-bottom: 1px solid white;
  transition: border-bottom 1s ease-out;
  transition: color 1s ease;
}

#canvas_click_wrapper {
  position: relative;
}

#guess_input {
  margin-top: 60px;
  width: 200px;
  border-radius: 4px;
  height: 30px;
  font-size: 16px;
}

.space-element {
  width: 100%;
}

.guess-element {
  width: 120px;
  height: 230px;
  border-bottom: 1px solid black;
  margin: 20px;
}

.revealed-letter-element {
  text-align: center;
  margin: 20px;
  font-family: "League-Gothic", Courier;
  font-size: 200px;
  text-transform: uppercase;
  color: palevioletred;
  user-select: none;
  border-bottom: 10px 10px 0 #ffd217, 20px 20px 0 #5ac7ff, 30px 30px 0 #ffd217, 40px 40px 0 #5ac7ff; 
}

#canvas {
  border: solid 4px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  transform: translate3d(0, 0, 0);
}

#frame {
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  margin: 2vh 2vw;
  padding: 8vmin;
  position: absolute;
  text-align: center;
}

#frame:before {
  border-radius: 2px;
  bottom: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
  content: "";
  left: -2vmin;
  position: absolute;
  right: -2vmin;
  top: -2vmin;
  pointer-events: none;
}
#frame:after {
  border-radius: 2px;
  bottom: -2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  content: "";
  left: -2.5vmin;
  position: absolute;
  right: -2.5vmin;
  top: -2.5vmin;
  pointer-events: none;
}

/* Countdown adapted from https://github.com/sanographix/css3-countdown */

#clock_container {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
}

#CDT {
  font-size: 30px;
  color: #eee;
  font-weight: bold;
  width: 250px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#CDT .number-wrapper {
    margin: 5px;
    border-radius: 7px;
    box-shadow: 0 5px 8px #000000;
    position: relative;
}

#CDT .number {
    display: inline-block;
    background: linear-gradient(to top, #000000 2%, #3c3c3c 50%, #000000 100%);
    border-radius: 7px;
    background-clip: padding-box;
    padding: 0 6px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #555;
    box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    text-shadow: 0 3px 3px #000000;
}
       
#CDT .line {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 52%;
    left: 0;
    background: #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}


/*BUTTONS*/

.button {
  margin: 5px;
  background-color: #3bb3e0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  position: relative;
  padding: 10px 20px;
  padding-right: 50px;
  background-image: linear-gradient(to top, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  cursor: pointer;
}

.button:active {
  top: 3px;
  background-image: linear-gradient(to top, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.button::before {
  background-color: #2591b4;
  background-image: url(../images/right_arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -9px;
  border-radius: 50%;
  box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}

.button:active::before {
  top: 50%;
  margin-top: -12px;
  box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}